In [3]:
pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.2.8-cp312-cp312-win_amd64.whl.metadata (1.1 kB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\dell\anaconda3\lib\site-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)
Downloading pyreadstat-1.2.8-cp312-cp312-win_amd64.whl (2.4 MB)
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
   ---------------------------------------- 2.4/2.4 MB 27.6 MB/s eta 0:00:00
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.8
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pyreadstat

df, _ = pyreadstat.read_sav("Insurance.sav")
df

       age  sex     bmi  children  smoker  region      charges
0     19.0  1.0  27.900       0.0     1.0     2.0  16884.92400
1     18.0  0.0  33.770       1.0     0.0     1.0   1725.55230
2     28.0  0.0  33.000       3.0     0.0     1.0   4449.46200
3     33.0  0.0  22.705       0.0     0.0     4.0  21984.47061
4     32.0  0.0  28.880       0.0     0.0     4.0   3866.85520
...    ...  ...     ...       ...     ...     ...          ...
1333  50.0  0.0  30.970       3.0     0.0     4.0  10600.54830
1334  18.0  1.0  31.920       0.0     0.0     3.0   2205.98080
1335  18.0  1.0  36.850       0.0     0.0     1.0   1629.83350
1336  21.0  1.0  25.800       0.0     0.0     2.0   2007.94500
1337  61.0  1.0  29.070       0.0     1.0     4.0  29141.36030

[1338 rows x 7 columns]