In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("./65y_Bank.CSV")
df.head(5)

   Customer  Balance  Direct
0         1     1.22       0
1         2     1.56       0
2         3     2.10       0
3         4     2.25       0
4         5     2.89       0

In [5]:
#1.	Write the generic logistic regression equation relating x to y.